<!doctype html>
<title>ABeerFor.Me</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="sidebar" style="float: left">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}" /></a>

  <ul style="list-style:none;">
  {% if session.username %}
    <li>Logged in as {{ session.username }}</li>
  {% endif %}
  {% if not session.username %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
  {% else %}
    <li><a href="{{ url_for('profile', username=session.username) }}">Profile</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% endif %}
    <li><a href="{{ url_for('styles') }}">Styles</a></li>
    <li>Strengths</li>
    <li><a href="{{ url_for('breweries') }}">Breweries</a></li>
  {% if session.username %}
    <li><a href="{{ url_for('friends', username=session.username) }}">Friends</a></li>
  {% endif %}
    <li>Recommendations</li>
  </ul>
</div>
<div class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
